    
    body{
      color: #E5CFCD;
      font-family: sans-serif;
      margin: 0;
    }
    
    a{
            text-decoration: none;  
    }
    
    nav a {
        color: #FFFBED;
        background-color: #E5CFCD;
        border-radius: 2px;
        margin: 5px;
        padding: 5px;
        display: inline-block;
        transition: 1s all;
        
    }
    
      nav a:hover{
        background-color: #D8C0E8;  
      }
    
    header {
        text-align: center;
    }
      
    header img{
        border-radius: 50%;
    }  
    
    header h1{
        font-family: 'Lobster', cursive;
    }
    
    h2{
      color: #D69CBD;
    }
    
    section{
        text-align: center;
        background-image: url(http://static2.wallpedes.com/wallpaper/hd/hd-flower-wallpaper-free-vintage-wallp-full-tumblr-vintage-floral-wallpapers-hd-wallpaper-iphone-5-hipster-cute-ipad-girly-galaxy-4.jpg);
        background-position: 0px 603px;
        height: 300px;
        background-size: cover;
    }

#features{
  background-image: none;
  background-color: #E5CFCD;
  height: 250px;
  padding: 50px;
  box-sizing: border-box;
}

p {
  color: #FFF;
  background-color:#D69CBD;
  font-family: Impact, Haettenschweiler, “Arial Narrow Bold”, sans-serif; 
  margin: 15px;
  padding: 20px;
  width: 200px;
  display: inline-block;
  transition: 1s all;
}

p:hover{
    transform: rotate(-7deg);
}
    
    button{
        color: #E5CFCD;
        background-color:rgba(0, 27, 12, 16);
        border: none;
        border-radius: 3px;
        padding: 20px;
        margin-top: 120px;
    }
    
    footer{
        background-color: #000;
        height: 150px;
        text-align: center;
        background-color: #D69CBD;
        padding: 50px;
        box-sizing: border-box;
    }


.menu-selected{
  background-color: #D69CBD;
}

table{
    width: 1214px;
    margin: 0 auto;
}


.button {
   border-top: 1px solid #D686D6;
   background: #eb612f;
   background: -webkit-gradient(linear, left top, left bottom, from(#f7d425), to(#eb612f));
   background: -webkit-linear-gradient(top, #f7d425, #eb612f);
   background: -moz-linear-gradient(top, #f7d425, #eb612f);
   background: -ms-linear-gradient(top, #f7d425, #eb612f);
   background: -o-linear-gradient(top, #f7d425, #eb612f);
   padding: 14px 28px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #bd4c26;
   background: #bd4c26;
   color: #ccc;
   }
.button:active {
   border-top-color: #eb612f;
   background: #eb612f;
   }
.pb-wrapper {
	position: fixed;
	background: #fff url(../images/paper.jpg) repeat center bottom;
	width: 170px;
	margin-top: 10px;
	padding: 20px 10px 100px;
	overflow: hidden;
	box-shadow:
		inset 1px 0 0 3px rgba(255,255,255,0.6),
		0 1px 4px rgba(0,0,0,0.3), 
		inset 0 0 20px rgba(0,0,0,0.05),
		inset 0 -25px 40px rgba(0,0,0,0.08);
}
