

body {
    background-color: #1EDEFF;
    color: black;
    font-family:sans-serif;
  }
  
  nav a {
      text-decoration: none;
      color: #1EDEFF;
      background-color: white;
      border-radius: 2px;
      margin: 5px;
      padding: 5px;
  }
  
  h2{
    color:white;
}
